@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@font-face {
    font-family: "Mulled Wine Season Medium"; 
    src: url("//db.onlinewebfonts.com/t/a3250cbb026ddceeadb7c0e4ad871a8d.eot"); 
    src: url("//db.onlinewebfonts.com/t/a3250cbb026ddceeadb7c0e4ad871a8d.eot?#iefix") 
    format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/a3250cbb026ddceeadb7c0e4ad871a8d.woff2") 
    format("woff2"), 
    url("//db.onlinewebfonts.com/t/a3250cbb026ddceeadb7c0e4ad871a8d.woff") 
    format("woff"), 
    url("//db.onlinewebfonts.com/t/a3250cbb026ddceeadb7c0e4ad871a8d.ttf") 
    format("truetype"), 
    url("//db.onlinewebfonts.com/t/a3250cbb026ddceeadb7c0e4ad871a8d.svg#Mulled Wine Season Medium") 
    format("svg"); 
} 

$rosado-very-dark: #d62828;
$rosado-dark: #d1495b;
$rosado-light: rgba(183, 110, 119, 40%);
$amarillo: #edae49;
$celeste: #00798c;
$blue: #003049;
$crema: #eae2b7;

$font1: 'Shrikhand', cursive;
$font2: "Mulled Wine Season Medium";

